h1 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 550;
  text-align: center;
}

h2 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
}

h3 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
}

p {
  font-size: 18px;
}


#footer-universal {
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 20px;
  border: 1px solid #726e6e;
}


.container {
  padding: 10px;
  margin: 10px;
}


#tinkercad-imagem {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  min-width: 50%;
  width: 55%;
}

.nomeHelp {
  font-size: 14px;
  color: #60676d;
  margin-top: 5px;
  margin-bottom: 10px;
}

.emailHelp {
  font-size: 14px;
  color: #60676d;
  margin-top: 5px;
  margin-bottom: 10px;
}