h1 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 550;
}

h2 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 36px;
}

h3 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 36px;
}

p {
  font-size: 18px;
}


#footer-universal {
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 20px;
  border: 1px solid #726e6e;
}


.container {
  padding: 5px;
  margin: 1px invisible;
}