h1 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 550;
  text-align: center;
}

h2 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: left;
}

h3 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: left;
}

h5 {
  color: #33c958;
  line-height: 1.6;
  display: inline-block;
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

footer {
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 20px;
  border: 1px solid #726e6e;
}

.container {
  padding: 10px;
  margin: 10px;
}

.nomeHelp {
  font-size: 14px;
  color: #60676d;
  margin-top: 5px;
  margin-bottom: 10px;
}

.emailHelp {
  font-size: 14px;
  color: #60676d;
  margin-top: 5px;
  margin-bottom: 10px;
}

.carousel-item img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 50%;
  height: 50%;
}
